.component1-container {
  display: flex;
  position: relative;
}
.component1-link {
  text-decoration: none;
}
.component1-text {
  text-decoration: none;
}
.component1-root-class-name {
  left: 134px;
  bottom: -214px;
  position: absolute;
}
@media(max-width: 479px) {
  .component1-link {
    text-align: center;
  }
}

.cube-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.cube-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.cube-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.cube-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.cube-branding {
  width: 120px;
  object-fit: cover;
}
.cube-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cube-hamburger {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #0000F5;
}
.cube-hamburger:hover {
  opacity: .5;
}
.cube-icon {
  width: 60px;
  object-fit: cover;
}
.cube-mobile-menu {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.cube-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cube-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.cube-image {
  height: 2rem;
}
.cube-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cube-icon1 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cube-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cube-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.cube-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.cube-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.cube-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.cube-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cube-header-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cube-header {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cube-container3 {
  top: -222px;
  left: 347px;
  width: 431.9375px;
  height: 204.6875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.cube-heading {
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 100px;
  max-width: 790px;
  font-style: normal;
  font-weight: 500;
}
.cube-text2 {
  font-size: 89px;
}
@media(max-width: 991px) {
  .cube-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .cube-hero-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .cube-burger-menu {
    display: flex;
  }
  .cube-heading {
    font-size: 60px;
  }
}
@media(max-width: 479px) {
  .cube-branding {
    padding-top: var(--dl-space-space-unit);
  }
  .cube-hamburger {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .cube-icon {
    width: 30px;
  }
  .cube-mobile-menu {
    padding: 16px;
  }
  .cube-hero-content {
    gap: var(--dl-space-space-threeunits);
  }
  .cube-heading {
    font-size: 36px;
  }
}
